<div class="container text-center p-2" style='width: 400px; margin: 12px auto' >
  <h1>Saisir les données de mon appartement</h1>

  <br>
  <%= simple_form_for(@flat) do |f| %>
    <%= f.input :title, label: "Nom de la location" %>
    <%= f.input :description, label: "Description de l'appartement" %>
    <%= f.input :address, label: "Adresse" %>
    <%= f.input :capacity, input_html: { min: 0, step: 1 }, label: "Capacité d'accueil" %>
    <%= f.input :price_per_day, input_html: { min: 0, step: 'any' }, label: "Prix par nuit" %>
    <%= f.input :photo, as: :file %>
    <%= f.submit 'Valider', class:"btn btn-dark" %>
  <% end %>
</div>
