
  <% if  @flat.photo.attached?%>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @flat.photo.key %>'); background-size: cover;">
      <div class="container">
        <h2 class='text-center' style="color:white; text-shadow: 0 0 10 rgba(0, 0, 0, 0.5); text-border: 2px solid black"><%= @flat.title %></h2>
      </div>
    </div>
  <% else %>
    <h2 class='text-center'><%= @flat.title %></h2>
  <% end %>

<div class="container p-5">
  <div class="row ">
    <div class="col md-6 text-center">
      <div style='width: 600px; margin: 12px auto'>
        <p><%= @flat.address %></p>
        <p><%= @flat.description %></p>
        <% if  @flat.photo.attached?%>
          <%= cl_image_tag @flat.photo.key, width: 500, height: 400, crop: :fill %>
        <% end %>
        <div>
        <ul class='list-inline'>
          <li class="list-inline-item me-5 mt-2"><i class="fa-sharp fa-solid fa-euro-sign"></i> <%= @flat.price_per_day %>€/Jour</li>
          <li class="list-inline-item ms-5 mt-2"><i class="fa-sharp fa-solid fa-users"></i> <%= @flat.capacity %></i></li>
        </ul>

          <% if @flat.user == current_user %>
            <%= link_to 'Supprimer', flat_path(@flat), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-dark" %>
        </div>
      </div>
    </div>
    <div class="col md-6" >
      <%=  render 'edit' %>
    </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div  style="height=1000px">
        <% if user_signed_in? %>
          <% if @flat.user != current_user %>
          <div  style='width: 600px; margin: 12px auto'>
            <p>Vous souhaitez réserver ce logement?</p>
              <%= simple_form_for([@flat, @booking]) do |f| %>
                <%= f.input :number_of_occupants, collection: (1..@flat.capacity), label: "Nombre de personnes"%>
                <div id="booking-form-div"
                  data-bookings="<%= @bookings_dates.to_json %>">
                </div>
                <%= f.input :starting_date, label: "Sélectionnez vos dates:", as: :string, required: false, input_html: { id: "range_start", class: "d-none" } %>
                <%= f.input :ending_date,label: false, as: :string, required: false, input_html: { id: "range_end", class: "d-none"} %>
                <%= f.submit 'Réservez', class: "btn btn-dark", remote: true %>
              <% end %>
          </div>
          <% end %>
        <% else %>
          <div class="container position-absolute top-50 start-50 translate-middle" style='width: 600px; margin: 12px auto'>
          <p class='text-center'>Vous devez être connecté pour réserver cet appartement</p>
            <p class="text-center"><%= link_to 'Sign me in!', new_user_session_path, class: 'btn btn-dark' %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="text-center mt-2">
    <%= link_to 'Retour', flats_path, class:"btn btn-dark" %>
  </div>
</div>
