
  <% if  @flat.photo.attached?%>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @flat.photo.key %>'); background-size: cover;">
      <div class="container">
        <h2 class='text-center' style="color:white; text-shadow: 0 0 10 rgba(0, 0, 0, 0.5); text-border: 2px solid black"><%= @flat.title %></h2>
      </div>
    </div>
  <% else %>
    <h2 class='text-center'><%= @flat.title %></h2>
  <% end %>


<div class="text-center mt-5">
  <p>Localisation : <%= @flat.address %></p>
  <p><%= @flat.price_per_day %>€/Jour</p>
  <p><%= @flat.capacity %> Personnes</p>
  <p><%= @flat.description %></p>
  <% if @flat.user == current_user %>
    <%= link_to 'delete', flat_path(@flat), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-dark" %>
  <% end %>

  <% if @flat.user == current_user %>
    <%= link_to 'edit', edit_flat_path(@flat), class:"btn btn-dark" %>
  <% end %>
  <%= link_to 'back', flats_path, class:"btn btn-dark" %>
</div>

<% if @flat.user != current_user %>
<div class="container" style='width: 600px; margin: 12px auto'>
  <p>Vous souhaitez réserver ce logement?</p>
    <%= simple_form_for([@flat, @booking]) do |f| %>
      <%= f.input :number_of_occupants, collection: (1..@flat.capacity)%>
      <%= f.input :starting_date, as: :string, required: false, input_html: {class: "datepicker" } %>
      <%= f.input :ending_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.submit 'Submit', class: "btn btn-dark" %>
    <% end %>
</div>
<% end %>
